version: 2.1
orbs:
  aws-s3: circleci/aws-s3@1.0.0
jobs:
  build:
    docker:
      - image: 'circleci/node:10.16.3'
    steps:
      - checkout
      - run: npm install      
      - run: npm run-script build
      - aws-s3/sync:
          from: build
          to: 's3://terraform-alex-shing'
